.heading {
    margin: 0 5px 0 5px;
}

.input-field {
    margin-top: 5px;
    margin-bottom: 5px;
}

.letter-info {
    border-bottom: 2px solid darkgray;
}

.letter-business-fields {
    margin-top: 10px;
}

.letter-business-fields-input > * {
    margin-top: 0;
}

.letter-content {
    margin-top: 10px;
    margin-bottom: 5px;
}

.subject-field {
    font-weight: bold;
}

.subject-field::placeholder {
    font-weight: normal;
}

.content-field {
    font-family: monospace;
}

.clear-button {
    margin-top: 1rem;
}
