<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LatexLetter</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {% load static %}
        <link rel="stylesheet" href="{% static '/letterui/styles.css' %}">
      </head>
<body>
        <div class="container">
            <div class="row">
              <div class="col heading">
                <h1>Latex Letter Template Generator</h1>
              </div>
            </div>
              <form method="POST" >
                {% csrf_token %}
                  <div class="row">
                      <div class="col-md-6">
                          {{ form.sender_name }}
                          {{ form.sender_streetaddress }}
                          {{ form.sender_zipcity }}
                          {{ form.sender_phone }}
                          {{ form.sender_phonename }}
                          {{ form.sender_email }}
                      </div>
                      <div class="col-md-6">
                          {{ form.recipient_addrfield }}
                      </div>
                  </div>
                  <div class="row letter-content">
                      <div class="col">
                        {{ form.content_subject }}
                        {{ form.content_opening }}
                        {{ form.content_text }}
                        {{ form.content_closing }}
                        {{ form.content_ps }}
                        {{ form.content_enclosing }}
                        {{ form.content_cc }}
                      </div>
                  </div>
                  <button type="submit" class="btn btn-primary mt-3">Submit</button>
                  <a class="btn btn-danger clear-button" href="/clear">Clear</a>
                </form>
            </div>
</body>
</html>